# Flutter 및 Dart 관련 파일
build/
.dart_tool/
.packages
.metadata
.dart_tool/*
.flutter-plugins


# IDE 및 편집기 설정
.idea/
*.iml
*.iws
.vscode/*

# 빌드 및 생성 파일
app.apk
app.aab
app.ipa
symlinked-plugins/
build/*

# iOS 빌드 아티팩트
ios/*

# Android 빌드 아티팩트
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/flutter_assets/
*.keystore
*.jks

# 운영체제 생성 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# Windows, macOS, Linux 플랫폼 폴더 전체를 무시합니다. (Android/iOS에만 집중)
/windows/
/macos/
/linux/
# (web/ 폴더는 크롬 테스트를 위해 제외)